<a href="/">Back</a>
<h1>{{ name }}</h1>
<a href="/sketches/{{name}}.js">view code</a>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.0.0/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/abachman/p5.websocket/dist/p5.websocket.min.js"></script>
<script src="/sketches/{{name}}.js"></script>